.navcard{
  
  height: 203px;
  position: relative;

  background-color: #1C204B;
  border-radius: 15px;  

  &-header{
    width: 100%;
    height: 133px;

    background: #5747EA;
    border-radius: 15px;    
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__img{
      width: 64px;
      height: 64px;

      @media screen and (min-width: 1110px) {
        width: 78px;
        height: 78px;
      }
    }

    // &__info{
      
    // }

    &__report{
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #BBC0FF;
    }   

    &__name{
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;     

      @media screen and (min-width: 1110px) {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 47px;
      }
    }

    @media screen and (min-width: 1110px) {
      height: 354px;
      padding: 37px 0 0 32px;

      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;    
      gap: 43px;  
    }
  }

  &-options{
    padding-bottom: 25px;
    list-style: none;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    justify-content: space-around;    

    &__option{
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #7078C9;

      &:hover{
        color: #fff
      }     
      
      &--active{
        color: #fff
      }
    }

    @media screen and (min-width: 1110px) {
      padding: unset;
      padding-left: 32px;
      height: 160px;

      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 21px;
    }
  }

  @media screen and (min-width: 1110px) {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
  }
}